<nav aria-label="Pages navigation">
    <ul class="pagination pagination-sm justify-content-end mb-0">
        <li class="page-item disabled">
            <a class="page-link prev" href="#" aria-label="Previous page"><span aria-hidden="true">&laquo;</span></a>
        </li>

        <li class="page-item">
            <a class="page-link next" href="#" aria-label="Next page"><span aria-hidden="true">&raquo;</span></a>
        </li>
    </ul>
</nav>

<template class="bs-pagination-link-template">
    <li class="page-item">
        <a class="page-link" href="#" aria-label="Page"></a>
    </li>
</template>

<template class="bs-pagination-link-range-divider-template">
    <li class="ps-2 pe-2">
        <small>...</small>
    </li>
</template>

